.card-body{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--gold);
    margin: 8px;
}

.card-title{
    font-size: 2rem;
    font-family: var(--Open);
    padding-bottom:  0.5rem;
    margin: 1rem 0;
    border-bottom: 2px solid var(--gold);
}

.card-type{
    text-align: center;
}

.btn-card{
    width: 100%;
}