@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&family=Open+Sans:wght@400;600&display=swap');
/*
font-family: 'Jost', sans-serif;
font-family: 'Open Sans', sans-serif;
*/
:root{

    --gold:  #bd9851;
    --dark: #202020;
    --bg-color: rgb(235, 228, 228);
    --Open: 'Open Sans', sans-serif;
    --Jost:'Jost', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background-color: var(--bg-color);
    color: var(--dark);
    width: 100vw;
    overflow-x: hidden;
    font-family: var(--Jost);
}

#root{
    overflow: hidden;
}